.content {
	padding: 20px;
}
.content h2{
	margin-top: 25px;
}
.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.invoice-table th, .invoice-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.invoice-table th {
    background-color: #f2f2f2;
    font-size: 11px;
}

.invoice-table td {
    font-size: 12px;
}

.invoice-table .item-img {
    width: 18px;
    height: 18px;
    display: block;
    margin: auto;
}

.invoice-table .item-name {
    vertical-align: middle;
}

.invoice-table .icon {
    color: red;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: .4s;
}

.invoice-table .icon:hover {
    background: red;
    color: #fff;
    box-shadow: 1px 1px 6px red;
}

.invoice-table  input {
    width: 50px;
    text-align: center;
    padding: 2px;
    margin: 0 3px;
    text-align:center;
}

.invoice-table .quantity-wrapper button {
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    padding: 4px 4px;
    font-size: 8px;
    border: none;
    cursor: pointer;
}

.orderInfo h3{
	
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    color: var(--btn-background);
}
.orderInfo label {
	margin-bottom: 5px;
	display:inline-block;
	margin-right:5px;
	color: rgb(200,0,0);
	font-weight: bold;
}
.orderInfo .address{
	padding: 10px;
}
.orderInfo .address h4{
	padding: 5px 0;
}
.orderInfo .address input{
	display: block;
	padding: 8px;
	width: 90%;
	margin: 5px 0;
	border:1px solid #DDD;
	border-radius: 6px;
	
}
.orderInfo .changeAddress{
	margin-right: 15px;
}
.orderInfo textarea{
	width: 90%;
	padding: 10px;
	font-size: 14px;
	resize:none;
	border:1px solid #ddd;
	border-radius: 10px;
	margin-right: 10px;
	margin-left: 10px;
	
}
.finishReceipt{
	margin: 10px;
	padding: 10px;
}
.finishReceipt span:last-child{
	font-weight: bold;
	color:var(--main-color);
	margin-right: 10px;
}
.finishReceipt button{
	margin-right: 80%;
	padding: 10px;
	font-weight: bold;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 6px var(--main-color);
    cursor: pointer;
}
	
/*popup for confirmation address*/ 

.popup {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow */
}
.popup h3{
	text-align: center;
	margin-bottom: 10px;
}
.popup select,
.popup textarea,
.popup button,
.popup input 
{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

.popup button {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}
.popup button.close {
	background-color: #f31559;
}
/* to style the */
.logoMessage {
    font-weight: bold;
    color: var(--main-color);
    font-size: 11px;
    margin: 20px 0;
    display: block;
}
