<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/all.min.css"/>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/master.css" />

    <title> تعديل صنف</title>
  </head>
  <body>
    <!-- stat header -->
    <div class="header-area">
      <div class="container">
        <div class="logo">WATAD</div>
        <div class="active-user">زائر</div>
      </div>
    </div>
    <!-- End header -->

    <!-- Start section (nav menu) -->
    <div class="section-box">
      <div class="menu-icon" id="memu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
        <li>
          <i class="fa-solid fa-leaf"></i
          ><a href="../views/receipts.html"> الفواتير المستلمة </a>
        </li>
        <li>
          <i class="fa-solid fa-leaf"></i
          ><a href="../views/addsection.html">اضافة قسم</a>
        </li>
        <li>
          <i class="fa-solid fa-leaf"></i><a href="../views/units.html">اضافة وحدة</a>
        </li>
        <li>
          <i class="fa-solid fa-leaf"></i
          ><a href="../views/additem.html">اضافة صنف </a>
        </li>
        <li>
          <i class="fa-solid fa-leaf"></i
          ><a href="../views/index.html"> وجة المستخدم </a>
        </li>
      </ul>
    </div>
    <!-- End nav menu -->

    <!-- Start add item  -->
    <div class=" add-item">
      <h2>تعديل صنف</h2>
      <div class="container">
        <form action="">
          <div class="data-row">
          <label>اسم صنف : </label>
          <input type="text" placeholder="ادخل اسم  الصنف" />
        </div>
        <div class="data-row">
          <label>صورة الصنف : </label>
          <input type="file" placeholder="ادخل اسم  القسم" />
        </div>
        <div class="data-row">
          <label>اسم القسم : </label>
          <select name="" id="">
            <option>خضروات</option>
          </select>
        </div>
        <div class="data-row">
          <label>اسم الوحدة : </label>
          <select name="" id="">
            <option>الكيلو</option>
          </select>
        </div>
        <div class="data-row">
          <label>سعر الشراء : </label>
          <input type="number" placeholder="ادخل سعر الشراء" />
        </div>
        <div class="data-row">
          <label> نسبة الربح : </label>
          <input type="number" placeholder="ادخل نسبة الربح" />
        </div>
        <div class="data-row">
          <label> نسبة خصم : </label>
          <input type="number" placeholder="0%" />
        </div>
        <div class="data-row">
          <label>سعر البيع : </label>
          <input type="number" placeholder="ادخل سعر البيع" />
        </div>
        <div class="data-row ">
          <label>وصف المنتج : </label>
          <textarea  placeholder="ادخل  الوصف" ></textarea>
        </div>
        <div class="data-row ">
          <label>متاح : </label>
          <select name="" id="">
            <option>نعم</option>
            <option>لا</option>
          </select>
        </div>
        
          <button class="btn">تعديل</button>
        </form>
      </div>
    <!-- End add item  -->

    <script src="../js/master.js" />
  </body>
</html>
