<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/master.css" />

    <title>WATAD|حاجتك اونلاين</title>
  </head>
  <body>
    <!-- Start section (nav menu) -->
    <div class="section-box">
      <div class="menu-icon" id="memu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
        <li><i class="fa-solid fa-leaf"></i><a href="#">خضروات</a></li>
        <li>
          <i class="fa-solid fa-leaf"></i
          ><a href="#">خضروات طازجة مجهزة للطهي</a>
        </li>
        <li><i class="fa-solid fa-leaf"></i><a href="#">خضروات مجمدة</a></li>
        <li><i class="fa-solid fa-leaf"></i><a href="#"> فواكة</a></li>
        <li><i class="fa-solid fa-leaf"></i><a href="#">فواكة مجهزة </a></li>
      </ul>
    </div>
    <!-- End nav menu -->
    <!-- stat header -->
    <div class="header-area">
      <div class="container">
        <div class="logo">WATAD</div>
        <div class="search-box">
          <form action="">
            <input
              type="text"
              name="search_box"
              placeholder="اكتب ما انت تبحث عنه ؟"
            />
          </form>
        </div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>
          <span>المنوفية، قويسنا</span>
        </div>
        <button class="btn">تسجيل الدخول</button>

        <div class="active-user">زائر</div>
        <div class="cart-icon"><i class="fa-solid fa-cart-arrow-down"></i></div>
      </div>
    </div>
    <!-- End header -->

    <!-- Start item in section -->
    <div class="container">
      <div class="section_items">
        <div class="card">
          <div class="card-top">
            <span class="discount">14%</span>
            <div class="img">
              <img src="../imgs/Cabbage.png" alt="" />
            </div>
            <button id="addToCart"><i class="fa-solid fa-plus"></i></button>
          </div>
          <div class="card-bottom">
            <div class="price">
              <div id="befor-discount">40 EGP</div>
              <div id="after-discount">30 EGP</div>
            </div>
            <div class="item-name">كرنب بلدي</div>
            <div class="unit">بالقطعة</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            <span class="discount">14%</span>
            <div class="img">
              <img src="../imgs/onion.png" alt="" />
            </div>
            <button id="addToCart"><i class="fa-solid fa-plus"></i></button>
          </div>
          <div class="card-bottom">
            <div class="price">
              <div id="befor-discount">20 EGP</div>
              <div id="after-discount">15 EGP</div>
            </div>
            <div class="item-name">بصل بلدي</div>
            <div class="unit">بالكيلو</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            <span class="discount">14%</span>
            <div class="img">
              <img src="../imgs/Carrot.png" alt="" />
            </div>
            <button id="addToCart"><i class="fa-solid fa-plus"></i></button>
          </div>
          <div class="card-bottom">
            <div class="price">
              <div id="befor-discount">20 EGP</div>
              <div id="after-discount">15 EGP</div>
            </div>
            <div class="item-name">جزر بلدي</div>
            <div class="unit">بالكيلو</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            <span class="discount">14%</span>
            <div class="img">
              <img src="../imgs/Cucumbers.png" alt="" />
            </div>
            <button id="addToCart"><i class="fa-solid fa-plus"></i></button>
          </div>
          <div class="card-bottom">
            <div class="price">
              <div id="befor-discount">20 EGP</div>
              <div id="after-discount">15 EGP</div>
            </div>
            <div class="item-name">خيار بلدي</div>
            <div class="unit">بالكيلو</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            <span class="discount">14%</span>
            <div class="img">
              <img src="../imgs/tomato.png" alt="" />
            </div>
            <button id="addToCart"><i class="fa-solid fa-plus"></i></button>
          </div>
          <div class="card-bottom">
            <div class="price">
              <div id="befor-discount">20 EGP</div>
              <div id="after-discount">15 EGP</div>
            </div>
            <div class="item-name">طماطم بلدي</div>
            <div class="unit">بالكيلو</div>
          </div>
        </div>
      </div>
    </div>

    <!-- End item in section -->

    <script src="../js/master.js" />
  </body>
</html>
